<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of completedTodosArray">
    <div class="task-header row" [style.backgroundColor]="todo.label">
      <!-- Priority Label -->
      <div class="col-md-3">
        Priority : {{ todo.priority }}
      </div>
      <!-- Date Added On Label -->
      <div class="col-md-3">
          Added On : {{ todo.addedOn | date:'short'   }}
      </div>
      <!-- Completed On Label -->
      <div class="col-md-3">
        Completed On : {{ todo.completedOn | date:'short'   }}
      </div>
      <!-- Task Control Buttons -->
      <div class="col-md-3 task-control">
        <span 
          class="glyphicon glyphicon glyphicon-repeat task-control-btn"
          title="Mark Active"
          (click)="activateTodo(todo)">
        </span>
        <span 
          class="glyphicon glyphicon-remove task-control-btn"
          title="Delete Task"
          (click)="deleteTodo(todo)">
        </span>
      </div>     
    </div>
    <div class="todo-label">Todo Title</div>
    <h3 class="todo-title">
      {{ todo.title }}
    </h3>
  </li>
</ul>