<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Todo App by 
      <a href="https://github.com/GavinMichael" target="_blank">
        <mark class="primary">Gavin Michael</mark>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <p>
        This app was created mid-late 2017 whilst learning Angular 4
    </p>
    <hr>
    <p>Things I have learnt along the way</p>
    <li>Angular 4 fundamentals</li>
    <li>Integrating 3rd party NPM packages</li>
    <li>Bootstrap Framework</li>
    <li>Deploying Express on Node JS with Mongoose &amp; MongoDB</li>
    <li>Deploying on Heroku</li>
    <hr>
    <p>Created using</p>
    <li>Angular 4</li>
    <li>Node JS</li>
    <li>Express</li>
    <li>MongoDB</li>
    <li>Demo Hosted on HEROKU</li>


    <hr>
    View codebase on <a href="https://github.com/GavinMichael/ToDo-Application">Github</a>
    
  </div>
</div>